home="http://localhost:8080/kulinar3/index.php"
counters="./templates/counters.htm"
mail="tecolote@mail.ru"
ads="./templates/ads.htm"
ads2="./templates/ads2.htm"
ads3="./templates/ads3.htm"
ads4="./templates/ads4.htm"
ads6="./templates/ads6.htm"
ads7="./templates/ads7.htm"
ads8="./templates/ads8.htm"