<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <h2>В.В. Похлебкин - ПЕРЛОВКА ПО-ЦАРСКИ</h2>
    <div class="art_text">
        <p>
            ...В России, существующей как государство с 862 года, первая поваренная книга под названием «Русская поварня» была издана только в 1816 году, то есть фактически спустя тысячелетие. Правда, и до начала XIX века в России издавались различные поваренные книги, но они были переводными, иностранные тексты составляли в них 85 -- 90 %, и к ним скромно, потихоньку «подрисовывались» некоторые русские блюда.
        </p>
        <p>
            Причина этого запоздалого составления свода русской кухни исторически обычна для России: что имеем, не храним. «А чего сохранять? Это любая баба и так знает». Однако оказалось, что такое убеждение -- величайшее заблуждение.
        </p>
        <p>
            Как писал автор «Русской поварни», тульский помещик В.А. Левшин, уже к началу XIX века «сведения о русских блюдах почти совсем истребились» и поэтому «нельзя уже теперь представить полного описания русской поварни, а должно удовольствоваться только тем, что еще можно собрать из оставшегося в памяти».
        </p>
        <p>
            Дело еще и в том, что в середине XVI века, а именно в 1547 году, вместо поваренной книги был составлен лишь список русских блюд -- безо всякого объяснения, что в них входило и как их готовить. А названия были такими, что их до сих пор не могут расшифровать ученые, знатоки русского языка. «Щипанаа подпарная» (именно так, с двумя «а», это название встречается неоднократно в рукописных текстах!) -- что это такое? И так обстоит дело почти с тремя четвертями блюд.
        </p>
        <p>
            Только после Отечественной войны 1812 года началась постепенная реконструкция состава русской кухни. И к исходу XIX века русская кухня уже могла предъявить свой достаточно разнообразный, оригинальный, технологически вполне отработанный репертуар, зафиксированный в достаточно многочисленных поваренных книгах, которые стали выходить каждые два-три года. Первой из русских женщин написала в 1842 году трехтомную поваренную книгу о домашней кухне купчиха Екатерина Авдеева, сестра журналиста и историка Николая Полевого, а к концу века появились в России и кулинарные авторы-профессионалы -- как в области обеденного стола, так и по части выпекания дрожжевого теста и пирожного кондитерского производства. Это Елена Молоховец, книги которой с 1864 по 1909 год выдержали 26 изданий, и И.М. Радецкий -- русский повар-классик и кодификатор так называемой «петербургской кухни», то есть русского варианта французской кухни и французской обработки русских народных блюд.
        </p>
        <p>
            ХХ век должен был стать веком полного восстановления, реставрации, реабилитации русской национальной и даже националистической кухни в ее крайних квасно-патриотических вариантах, о чем свидетельствовал уже тот поразительный пример, о котором я хочу рассказать.
        </p>
        <p>
            <b>Обед на царской коронации 20 - 23 мая 1883 года</b>
        <p>
            Вот меню, с которым вступал на престол самодержец всея Руси Александр Третий.
        </p>
        <p>
            <ol style="list-style-type: decimal;">

                <li> Суп перловый. Пирожки печеные.</li>
                <li> Стерляди с огурцами солеными.</li>
                <li> Холодец из раков.</li>
                <li> Заливное из ершей.</li>
                <li> Перепела с тертым горохом. Говядина разварная.</li>
                <li> Рябчики со сметаной.</li>
                <li> Салат к жаркому -- огурцы соленые, грибы соленые, клюква и брусника моченая. Моченые яблоки.</li>
                <li> Сладкое: стручковый горох (да-да!). Стручки цареградские. Бабашки с маком, пряники вяземские и городецкие.</li>
                <li> Чай.</li>
            </ol>
        </p>
        <p>
            А вот вина подавались всякие -- французские, испанские, итальянские, немецкие, венгерские (токайское).
        </p>
        <p>
            Начинать царский обед перловкой, это может показаться чересчур рискованным даже ярому националисту-монархисту. Не переборщили ли устроители? Нет. Они, во главе с министром Императорского Двора графом И.И. Воронцовым-Дашковым, были профессиональными подхалимами, и они знали, что перловка, или как прежде ее называли -- ячневая (ячменная) крупа, считалась «любимой романовской», начиная с Петра I. Ее и переназвали в начале XIX века, при Александре I, в «перловую», что означает «жемчужная», чтобы облагородить «царскую любимицу». Ну а для того чтобы поддержать легенду, мог, наконец, и царь, хоть раз в свое царствование, отведать перловки? Ничего ему не сделалось. Не отравился.
        </p>
        <p>
            Так что придворные кулинары графа Иллариона Ивановича были прекрасными политиками и знатоками «русской народной души». Пока русский народ свято верил в перловку, всем им было привольно и сытно у царского стола.
        </p>
        <p>
            Кто мешал им вместо перловки и гороховых стручков, стоявших на столе как привлекающая бутафория, есть себе стерлядей, перепелов и жевать рябчиков, запивая их прекрасными бордосскими и бургундскими винами?
        </p>
        <p>
            Так что первая кулинарно-политическая заповедь на новый ХХ век звучала так: «Не вороти носа от того, что тебе подают, а если что не нравится, то делай вид, что этого не замечаешь, и продолжай налегать на то, что тебе нравится». Только не спорь, не выпендривайся, не оппонируй. Молчи и жри.
        </p>
    </div>
</body>
</html>
