<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <h2>Сырое, вареное, жареное, соленое: что ближе человеку ?</h2>
    <div class="art_text">
        <p>
            Существует одна удивительная метаморфоза. Относительно капусты. Нет, речь не идет о финансовых потоках и о том, что деньги куда-то утекают сквозь пальцы рекой, а притекают обратно в ладони ручейком. Капуста, овощ вроде обыденный, до сих пор удивляет многих.
        </p>
        <p>
Вот, к примеру, давно подмечено: если ребенку от свежего кочана отсечь кусок, то он с удовольствием им хрустит. Особенно если это сладкий сорт. А коли кочерыжку еще почистить – так малец лопает ее за обе щеки.
        </p>
        <p>
Но стоит только капусту, скажем, потушить, то есть подвергнуть тепловой обработке, как тут же пристрастия того же мальца коренным образом меняются. Не хочет он есть обработанное! Хотя, если логически мыслить, все должно быть наоборот. При жарке, тушении и парении та же капуста делается в десятки раз мягче, чем исходный сырой материал. А чтобы жевать свежие капустные листы и кочерыжку, нужно прилагать немалые усилия, стачивать зубы.
        </p>
        <p>
Тушеное, пареное, жареное – оно ведь все маленькое. Одно глотательное движение – и все скользит по пищеводу прямиком в желудочный сок. Без усилий. А если капуста обработана специями, солью, пряностями, так еще и вкусно будет.
        </p>
        <p>
Но детские, еще не затуманенные кулинарными изысками вкусовые рецепторы подсознательно все равно выбирают сырую капусту. Значит, что-то в этом есть! Вспомним, что устами младенца глаголет истина. Итак, изначально человеку что ближе? Пища сырая? Вареная? Копченая, жареная? Рассмотрим каждый пункт.
        </p>
        <p>
<b><i>Сырая пища</i></b>
        </p>
        <p>
Свежесть – она и в Африке свежесть. Свежесть восхитительна! Сорвите после мелкого дождика на даче с грядки маленький огурчик. Прямо с куста снимите. Укусите его, пупырчатого. Даже мыть не так уж и надобно. Ах, как нежно пупырышки хрустят на зубах! А вкус! В магазинном варианте никогда такого не почувствуешь. Проверено. Но вкус свежего огурчика тоже надоедает.
        </p>
        <p>
А теперь попробуйте овощ наш обработать. Засолите по-домашнему, к примеру. Если соблюдать технологию засолки, то на выходе получим хрустящий на зубах, восхитительный малосольный огурчик. И если его с картошечкой вареной, да с мясом… Вкуснота! Выходит, обработка солью все же делает огурчик вкуснее. Сырое же – не всегда вкусное.
        </p>
        <p>
Но у сырой пищи есть несомненный плюс: наверное, она нам ближе по духу, по генетике. Человек на самом деле не так давно начал пищу варить, парить, жарить и коптить. До этого наши с вами предки лопали все сырым. Увидели банан на дереве, сняли его и сжевали. Коренья всякие собрали и съели. В результате невероятное количество нужных витаминов и минералов поступало прямо в организм. Большую часть своей истории человек кушал сырую пищу. В нас сыроедение заложено природой.
        </p>
        <p>
Вот почему, очевидно, малыш с таким восторгом хрумкает свежую капусту. Это – по-нашему! И желудок от подобной пищи не болеет. Всякие там язвы, изжоги, гастриты – все это следствие цивилизации, где пищу обрабатывают теплом. Выходит, сырая пища более дружественна животу, чем те же полуфабрикаты.
        </p>
        <p>
Попробуйте все время питаться протертым картофелем. Или кашкой манной. Ее, конечно, прикольно погонять между зубами во время еды, но если кушать только такую пищу, то вскоре даже кашу гонять будет нечем. Ни одного зуба не останется. Другое дело сыроедение: тут нужно жевать, жевать и еще раз жевать! Тренировка зубов дает крепкие, не кровоточащие десна и зубы. Значит, нам скорее нужна сырая пища, ибо ее польза для нас генетически достоверна.
        </p>
        <p>
<b><i>Вареная пища</i></b>
        </p>
        <p>
Наши предки, чай, были не дураками. Как только Прометей принес им огонь, или как только неандерталец долбанул один камень о другой и извлек искру, так сразу же сыроедение стало не самым популярным меню. Человек познал, что лопать отваренный кусок ноги мамонта гораздо приятнее и нежнее, чем тянуть жилы из сырой мохнатой ноги зубами. А еще если присыпать кореньями, то на выходе получается чуть ли не ресторанное блюдо!
        </p>
        <p>
И неандерталец это моментом просек. Он, конечно, имел еще очень слабое представление о витаминах и микроэлементах в продуктах питания. Но уже тогда перешел на обработанную пищу. Это он предвосхитил массовое открытие ресторанов быстрого обслуживания Макдоналдс по всему миру. И сейчас, спустя вечность, люди все равно охотнее ходят в Макдоналдс, чем посещают овощное кафе (вегетарианское).
        </p>
        <p>
Что хорошо в вареной пище? В отличии от жарения, при варке не образуются вредные для организма вещества. Но, к сожалению, температура убивает практически все витамины в пище.
        </p>
        <p>
Так зачем варить? Просто потому, что далеко не все можно есть в сыром виде! Варка расширяет ассортимент продуктов, которые можно приготовить и съесть. К тому же она делает пищу мягкой.
        </p>
        <p>
<b><i>Жареная пища</i></b>
        </p>
        <p>
Тут мало того что, почитай, все витамины и микроэлементы накрываются «медным тазом», так еще и прямой вред организму наносится. Но какое блюдо самое вкусное? Так что пальчики оближешь? Жареное! Что может быть восхитительней жареного бифштекса? Ничего! Разве что, жареный же шашлык. И самое вредное – жареное – сейчас как раз и самое распространенное.
        </p>
        <p>
<b><i>Соленая пища, копченая, вяленая</i></b>
        </p>
        <p>
Человек придумал еще массу иных способов делать пищу более мягкой и вкусной. Вяленая рыба, к примеру, не сравнится с сырой или полусырой. Последнюю и есть никто не станет. Разве что персонаж Голума из саги «Властелин Колец».
        </p>
        <p>
Вот кто типичный представитель сыроедения! Голум. Только хоть и сидит он на натуральной диете, но выглядит прямо скажем не ахти. Зато – все натурально и реально полезно.
        </p>
        <p>
Обработанная пища несет человеку тысячи проблем. Ожирение, диабет, гастрит, болезни зубов, сердца, щитовидной железы, отложение солей. Огромный список. При этом она вкусна и каждый раз будит аппетит. Хочется кушать еще и еще!
        </p>
        <p>
А вот сырая пища во всем вроде бы хороша, только вкус ее в большинстве своем не очень приятен, если не сказать – противен. И все же она для нас полезнее всего.
        </p>
    </div>
</body>
</html>