<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <h2>Статьи о кулинарии</h2>
    <div style="min-height: 300px;">
        <ul>
            <li>
                <a href="##home##?a=ar&art=poh1.htm" title="В.В. Похлебкин - ПЕРЛОВКА ПО-ЦАРСКИ">В.В. Похлебкин - ПЕРЛОВКА ПО-ЦАРСКИ</a>
            </li>
            <li>
                <a href="##home##?a=ar&art=poh2.htm" title="В.В. Похлебкин - Русская кухня">В.В. Похлебкин - Русская кухня</a>
            </li>
			 <li>
                <a href="##home##?a=ar&art=poh3.htm" title="В.В. Похлебкин - Кухня финно-угорских народов">В.В. Похлебкин - Кухня финно-угорских народов</a>
            </li>
            <li>
                <a href="##home##?a=ar&art=burda1.htm" title="Борис Бурда - Борщ">Борис Бурда - Борщ</a>
            </li>
            
            <li>
                <a href="##home##?a=ar&art=burda2.htm" title="Борис Бурда - ГУРЬЕВСКАЯ КАША">Борис Бурда - ГУРЬЕВСКАЯ КАША</a>
            </li>

            <li>
                <a href="##home##?a=ar&art=burda3.htm" title="Борис Бурда - Гаспачо">Борис Бурда - Гаспачо</a>
            </li>

            <li>
                <a href="##home##?a=ar&art=spanish.htm" title="Испанская кухня">Испанская кухня</a>
            </li>
			
			<li>
                <a href="##home##?a=ar&art=history.htm" title="Краткая кулинарная история человечества">Краткая кулинарная история человечества</a>
            </li>

            <li>
                <a href="##home##?a=ar&art=raw.htm" title="Сырое, вареное, жареное, соленое: что ближе человеку ?">Сырое, вареное, жареное, соленое: что ближе человеку ?</a>
            </li>

            <li>
                <a href="##home##?a=ar&art=greentea.htm" title="Зеленый чай">Зеленый чай</a>
            </li>
			
        </ul>
    </div>
</body>
</html>
