<!--Rating@Mail.ru COUNTEr--><script language="JavaScript" type="text/javascript"><!--
                    d=document;var a='';a+=';r='+escape(d.referrer)
                    js=10//--></script><script language="JavaScript1.1" type="text/javascript"><!--
                    a+=';j='+navigator.javaEnabled()
                    js=11//--></script><script language="JavaScript1.2" type="text/javascript"><!--
                    s=screen;a+=';s='+s.width+'*'+s.height
                    a+=';d='+(s.colorDepth?s.colorDepth:s.pixelDepth)
                    js=12//--></script><script language="JavaScript1.3" type="text/javascript"><!--
                    js=13//--></script><script language="JavaScript" type="text/javascript"><!--
                    d.write('<a href="http://top.mail.ru/jump?from=781936"'+
                    ' target=_top><img src="http://de.ce.bb.a0.top.list.ru/counter'+
                    '?id=781936;t=216;js='+js+a+';rand='+Math.random()+
                    '" alt="Рейтинг@Mail.ru"'+' border=0 height=31 width=88/><\/a>')
                    if(11<js)d.write('<'+'!-- ')//--></script><noscript><a
                    target=_top href="http://top.mail.ru/jump?from=781936"><img
                    src="http://de.ce.bb.a0.top.list.ru/counter?js=na;id=781936;t=216"
                    border=0 height=31 width=88
                    alt="Рейтинг@Mail.ru"/></a></noscript><script language="JavaScript" type="text/javascript"><!--
                    if(11<js)d.write('--'+'>')//--></script><!--/COUNTER-->

                    
                    <!--LiveInternet counter--><script type="text/javascript"><!--
                    document.write("<a href='http://www.liveinternet.ru/click' "+
                    "target=_blank><img src='http://counter.yadro.ru/hit?t14.2;r"+
                    escape(document.referrer)+((typeof(screen)=="undefined")?"":
                    ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                    screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                    ";"+Math.random()+
                    "' alt='' title='LiveInternet: показано число просмотров за 24"+
                    " часа, посетителей за 24 часа и за сегодня' "+
                    "border=0 width=88 height=31><\/a>")//--></script><!--/LiveInternet-->
                    
                    <!-- индекс цитируемости Яндекса    -->
                    <a href="http://yandex.ru/cy?base=0&amp;host=kulinar.farx.ru"><img src="http://www.yandex.ru/cycounter?kulinar.farx.ru" width="88" height="31" alt="Яндекс цитирования" border="0" /></a>
                    
                    <!-- begin of Top100 logo -->
                        <a href="http://top100.rambler.ru/top100/"><img src="http://top100-images.rambler.ru/top100/banner-88x31-rambler-gray2.gif" alt="Rambler's Top100" width="88" height="31" border="0" /></a>
                    <!-- end of Top100 logo -->

                    <!-- каталог eWoman -->
                    <!--ewoman--><a href="http://www.ewoman.su/?top" target="_blank"><img src="http://top.ewoman.su/counter/?uid=258" border=0 width=88 height=31 alt="ewoman" /></a><!--/ewoman-->

                    <!-- Tveedo --><a href='http://www.tveedo.ru/?fromsite=734' target=_blank><script type="text/javascript">document.write("<img src='http://www.tveedo.ru/img.php?id=734&" + "refer=" + escape(document.referrer) + "&page=" + escape(window.location.href) + "&java=" + (navigator.javaEnabled()?"yes":"now") + "&razresh=" + screen.width + 'x' + screen.height + "&cvet=" + (screen.colorDepth?screen.colorDepth:screen.pixelDepth) + "&rand=" + Math.random() + "&' border=0 alt='Tveedo' width=88 height=31>")</script><noscript><img src='http://www.tveedo.ru/img.php?id=734' border=0 alt='Tveedo' width=88 height=31></noscript></a><!-- /Tveedo -->
				
					<a href="http://ruscatalog.com/"><img src="http://ruscatalog.com/image/rus1.gif" width="88" height="31" border="0" title="Ruscatalog.com - сердце русского интернета" alt="Рускаталог.ком - каталог русскоязычных сайтов"></a>