<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <h2>Кулинарный словарь</h2>
    <div>
        ##dict##
    </div>
    <div style="text-align: center;">
        <table>
            <tr>
                <td class="fact">Страницы:</td>
                <td>##pager##</td>
            </tr>
        </table>
    </div>
</body>
</html>
