<!DOCTYPE html>
<html lang="ru">
  <head>

    <title>Кулинар</title>
    <meta charset="windows-1251" />
    <link href="style.css" rel="stylesheet" />
    <link href="buttons.css" rel="stylesheet" />
    <link href="favicon.ico" rel="icon" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Oranienbaum|Lobster|Scada:400italic,700italic,400,700|Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
        { lang: 'ru' }
    </script>

  </head>
  <body>
    
    <div class="content">
        <table class="full-width">
            <tr>
                <td>
                    <div class="hdr-tile">
                        
                            <table class="full-width">
                                <tr>
                                    <td class="v-centered">
                                        <a href="##home##"><img alt="*" src="images/check.png" style="" /></a>
                                     </td>
                                    <td class="v-centered l-aligned">
                                        <a href="##home##" class="logo">Кулинар</a>
                                    </td>
                                    <td>
                                        <div class="r-aligned">
                                            <table class="full-width">
                                                <tr>
                                                    <td class="v-centered"><g:plusone></g:plusone></td>
                                                    <td class="v-centered">
                                                        <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/small.xml?uid=41001168869876&amp;button-text=04&amp;button-size=s&amp;button-color=orange&amp;targets=%d0%9d%d0%b0+%d1%80%d0%b0%d0%b7%d0%b2%d0%b8%d1%82%d0%b8%d0%b5+%d1%81%d0%b0%d0%b9%d1%82%d0%b0&amp;default-sum=5" width="auto" height="31"></iframe>
                                                    </td>
                                                    
                                                    <td class="r-aligned copyright">
                                                        <a href="##mail##">whitebrujo aka tecolote (c) 2004 - 2012</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="v-centered">
                                        <p class="sublogo">сайт для любителей вкусно поесть</p>
                                    </td>
                                    <td colspan="2" class="h-centered v-centered">
                                        <div class="h-centered">
                                            <a href="##home##?a=gl" class="button large blue">Словарь</a>
                                            <a href="##home##?a=nu" class="button large orange">Пищевая ценность</a>
                                            <a href="##home##?a=vi" class="button large green">Витамины</a>
                                            <a href="##home##?a=ar" class="button large yellow">Статьи</a>
                                            <a href="##home##?a=om" class="button large orange">Русские меры</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                    </div>
                </td>
            </tr>

            <tr>

                <td>

                    <table class="full-width">
                        <tr>
                            <!-- 1st column  -->
                            <td style="width: 20%">

                                <div class="tile color1">
                                    <h3>Рецепты по кухням</h3>
                                    ##cuisines##
                                </div>
                                
                                <div class="tile" style="font-size: 80%;">
                                    <script language="JavaScript" src="http://r1.wmlink.ru/?id=306350"></script>
                                </div>
                                
                                <div class="tile color2">
                                    <h3>Рецепты по категориям</h3>
                                    ##groups##
                                </div>

                            </td> <!--/ 1st column  -->

                            <!-- 2nd column  -->
                            <td style="width: 40%">

                                <div class="main-tile">
                                    ##content##
                                </div>

                                <div>##ads2##</div>

                                <div class="tile color3">
                                    <h3>Случайный рецепт</h3>
                                    <h4 class="recipe-title">##random_title##</h4>
                                    <div class="recipe-legend">##random_legend##</div>
                                    <div class="recipe-text">##random_text##</div>
                                </div>

                                <div>##ads3##</div>

                            </td>   <!-- /2nd column  -->

                            <!-- 3rd column  -->
                            <td style="width: 30%;">

                                <table class="full-width">
                                    <tr>
                                        <td style="text-align: center; vertical-align: middle;">
                                            <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/small.xml?uid=41001168869876&amp;button-text=06&amp;button-size=l&amp;button-color=orange&amp;targets=%d0%9d%d0%b0+%d0%bf%d0%be%d0%b4%d0%b4%d0%b5%d1%80%d0%b6%d0%ba%d1%83+%d1%81%d0%b0%d0%b9%d1%82%d0%b0&amp;default-sum=5" width="auto" height="54"></iframe>
                                            <span class="donate">Автор будет очень признателен за вашу поддержку !</span>
                                        </td>
                                    
                                        <td style="text-align: center;">
                                            <a href="https://money.mail.ru/pay/account/1039100154454829/" style="display: block; width: 102px; height: 142px; background: url(https://money.mail.ru/img/b/bg.gif) 0 0 no-repeat; text-decoration: none;"><b style="display: block; padding: 8px 0 0; margin: 0 auto; height: 122px; width: 100px; overflow: hidden; color: #5d5d5d; text-align: center; font-size: 14px; line-height: 14px; font-family: Arial, Helvetica, sans-serif; background-position: 50% 33px; background-repeat: no-repeat; cursor: pointer; background-image: url(https://money.mail.ru/img/b/1.gif);">Поддержи !</b></a><div style="overflow: hidden; font-size: 10px; line-height: 10px; font-family: Arial, Helvetica, sans-serif; width: 102px; text-align: center; line-height: 9px;"><a href="https://money.mail.ru/five/">получить кнопку</a></div>
                                        </td>
                                    </tr>
                                </table>
                                
                                <div style="text-align: center;" class="tile color4">
                                    ##ads8##
                                </div>

                                <div class="tile color2">
                                    <h3>Интересный факт</h3>
                                    <div class="color-white">##fact##</div>
                                </div>

                                <div style="text-align: center;" class="tile color4">
                                    ##ads7##
                                </div>

                                <div class="tile color5">
                                    <h3>Совет</h3>
                                    <div class="color-white">##advice##</div>
                                </div>

                                <div class="tile color4">
                                    ##ads6##
                                </div>
                            </td>   <!-- 3rd column  -->
                        </tr>
                    </table>

                </td>

            </tr>
            <tr>
                <td class="tile color5">##counters##</td>
            </tr>
        </table>
        
    </div>

  </body>
</html>
