<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <h3>Таблица соответствия старых русских мер объема и веса современным</h3>
    <div>
        <table style="width: 100%;" class="om_table_body">
            <tr>
                <td id="omt1" style="vertical-align: top;">
                    <table>
                        <tr>
                            <td>Фунт</td><td>409 г</td>
                        </tr>
                        <tr>
                            <td>Лот</td><td>12,8 г</td>
                        </tr>
                        <tr>
                            <td>Золотник</td><td>4,26 г</td>
                        </tr>
                    </table>
                </td>
                <td id="omt2" style="vertical-align: top;">
                    <table>
                        <tr>
                            <td>Штоф</td><td>1,23 л</td>
                        </tr>
                        <tr>
                            <td>Винная бутылка</td><td>0,768 л</td>
                        </tr>
                        <tr>
                            <td>Водочная бутылка</td><td>0,61 л</td>
                        </tr>
                        <tr>
                            <td>Чарка</td><td>122 мл</td>
                        </tr>
                        <tr>
                            <td>Шкалик</td><td>61 мл</td>
                        </tr>
                    </table>
                </td>
                <td id="omt3" style="vertical-align: top;">
                    <table>
                        <tr>
                            <td>Четверть</td><td>2,09 дм<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td>Осьмина</td><td>1,04 дм<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td>Четвёрик</td><td>26,2 дм<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td>Гарнец</td><td>3,27 дм<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td>Полугарнец</td><td>1,63 дм<sup>2</sup></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    
</body>
</html>
