<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <h2>Пищевая ценность продуктов</h2>
    <div style="overflow-y: scroll; overflow-x: hidden; height: 300px;">
        <table style="width: 100%;  cellpadding: 3px; cellspacing: 0px;  border-collapse: collapse;">
            <thead>
                <tr class="table_head">
                    <td class="table_head">Продукт</td>
                    <td class="table_head">Белки (г/100г)</td>
                    <td class="table_head">Жиры (г/100г)</td>
                    <td class="table_head">Углеводы (г/100г)</td>
                    <td class="table_head">Калорийность (ккал/100г)</td>
                </tr>
                </thead>
            <tbody>
                ##nutr##
            </tbody>
        </table>
    </div>
</body>
</html>
