<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <h2>Витамины</h2>
    <div style="overflow-y: scroll; overflow-x: hidden; height: 400px;">
        <table style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr class="table_head">
                    <td class="table_head">&nbsp;</td>
                    <td class="table_head">Действие</td>
                    <td class="table_head">Источники</td>
                    <td class="table_head">Дозировка</td>
                    <td class="table_head">Симптомы<br />авитаминоза</td>
                    <td class="table_head">Симптомы<br /> гипервитаминоза</td>
                </tr>
            </thead>
            <tbody>
                ##vit##
            </tbody>
        </table>
    </div>
</body>
</html>
